<template>
    <nav id="navbar">
        <ul class="navbar-items flexbox-col">
          <li class="navbar-item flexbox-left">
            <a class="navbar-item-inner flexbox-left">
              <div class="navbar-item-inner-icon-wrapper flexbox">
                <ion-icon name="search-outline"></ion-icon>
              </div>
              <span class="link-text">Search</span>
            </a>
          </li>
          <li class="navbar-item flexbox-left">
            <a class="navbar-item-inner flexbox-left">
              <div class="navbar-item-inner-icon-wrapper flexbox">
                <ion-icon name="home-outline"></ion-icon>
              </div>
              <span class="link-text">Home</span>
            </a>
          </li>
          <li class="navbar-item flexbox-left">
            <a class="navbar-item-inner flexbox-left">
              <div class="navbar-item-inner-icon-wrapper flexbox">
                <ion-icon name="folder-open-outline"></ion-icon>
              </div>
              <span class="link-text">Saved Recipes</span>
            </a>
          </li>
          <li class="navbar-item flexbox-left">
            <a class="navbar-item-inner flexbox-left">
              <div class="navbar-item-inner-icon-wrapper flexbox">
                <ion-icon name="folder-open-outline"></ion-icon>
              </div>
              <span class="link-text">Register</span>
            </a>
          </li>
        </ul>
    </nav>
</template>
