<template>
  <nav id="navbar">
    <ul class="navbar-items">
      <li class="navbar-item">
        <a class="navbar-item-inner" data-route="home">
          <span class="link-text">Home</span>
        </a>
      </li>
      <li class="navbar-item">
        <a class="navbar-item-inner" data-route="all-recipes">
          <span class="link-text">All Recipes</span>
        </a>
      </li>
      <li class="navbar-item">
        <a class="navbar-item-inner" data-route="create-recipe">
          <span class="link-text">Create Recipe</span>
        </a>
      </li>
      <li class="navbar-item">
        <a class="navbar-item-inner" data-route="saved-recipes">
          <span class="link-text">Saved Recipes</span>
        </a>
      </li>
      <li class="navbar-item">
        <a class="navbar-item-inner" data-route="register">
          <span class="link-text">Register</span>
        </a>
      </li>
    </ul>
  </nav>
</template>