<template>
  <nav id="navbar">
    <ul class="navbar-items">
      <li class="navbar-item">
        <a class="navbar-item-inner" data-route="home">
          <div class="navbar-item-inner-icon-wrapper">
            <ion-icon name="home-outline"></ion-icon>
          </div>
          <span class="link-text">Home</span>
        </a>
      </li>
      <li class="navbar-item">
        <a class="navbar-item-inner" data-route="all-recipes">
          <div class="navbar-item-inner-icon-wrapper">
            <ion-icon name="restaurant-outline"></ion-icon>
          </div>
          <span class="link-text">All Recipes</span>
        </a>
      </li>
      <li class="navbar-item">
        <a class="navbar-item-inner" data-route="create-recipe">
          <div class="navbar-item-inner-icon-wrapper">
            <ion-icon name="add-circle-outline"></ion-icon>
          </div>
          <span class="link-text">Create Recipe</span>
        </a>
      </li>
      <li class="navbar-item">
        <a class="navbar-item-inner" data-route="saved-recipes">
          <div class="navbar-item-inner-icon-wrapper">
            <ion-icon name="bookmark-outline"></ion-icon>
          </div>
          <span class="link-text">Saved Recipes</span>
        </a>
      </li>
      <li class="navbar-item">
        <a class="navbar-item-inner" data-route="register">
          <div class="navbar-item-inner-icon-wrapper">
            <ion-icon name="person-add-outline"></ion-icon>
          </div>
          <span class="link-text">Register</span>
        </a>
      </li>
    </ul>
  </nav>
</template>