<template>
    <article id="recipe-container">
        <div class="recipe-card">
          <section class="recipe-header">
            <h1 class="recipe-title">{{title}}</h1>
            <div class="recipe-meta">
              <span class="recipe-servings"> {{servings}} servings</span>
              <span class="recipe-cooking-time">{{cookingtime}} minutes</span>
              <span class="recipe-difficulty">{{difficulty}}</span>
            </div>
            <div class="recipe-categories">
              <span class="recipe-type">{{mealtype}}</span>
              <span class="recipe-nationality">{{nationality}}</span>
            </div>
          </section>

          <section class="recipe-ingredients">
            <h2>Ingredients</h2>
            <ul id="ingredients-list">
            </ul>
          </section>

          <section class="recipe-instructions">
            <h2>Instructions</h2>
            <ol id="instructions-list">
            </ol>
          </section>
        </div>
<button id="edit-recipe-button" class="edit-button"></button>
    </article>
</template>