<template>
  <div class="search-container">
    <form action="https://project207.onrender.com/recipes" method="GET">
      <input type="text" id="recipe-search" class="search-input" placeholder="Search recipes...">
      <button id="search-button" class="search-button">Search</button>
    </form>
  </div>
  <button id="show-all-recipes-button">Show all recipes</button>
  <button id="show-all-recipes-button">Create new recipe</button>
  <button id="show-all-recipes-button">Log In</button>
</template>