head{
    display: none;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body{
    margin: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

button{
    padding: 1rem;
    margin: 1rem;
}
