*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}


.info-wrapper{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    border: 1px solid black;
    padding: 1rem;
}

#login-form{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 1rem;
}

#login-form-wrapper{
    padding: 1rem;
    flex-direction: column;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}

#register-user{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 5rem;
    gap: 1rem;
}


.user-choice-btn{
    margin: 3rem;
    padding: 0.5rem 1.5rem;
}

#register-wrapper{
    border: 1px solid black;
    padding: 1rem;
    margin-bottom: 5rem;
}

#log-in-section{
    display: flex;
    flex-direction: column;
    justify-self: center;
    align-content: center;
}

button {
    padding: 10px 20px;
    font-size: 16px;
    font-weight: 500;
    color: rgb(0, 0, 0);
    background-color: #ffffff;
    border: 1px solid black;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.2s ease;
    margin: 1rem;
  }

  button:hover {
    background-color: #2a71bd;
    color: white;
  }
  
  button:active {
    background-color: #004085;
  }
  
  button:disabled {
    background-color: #cccccc;
    cursor: not-allowed;
  }